# What is a T test?
![Student's t-distribution](../images/students-normal-t.png)

The t test tells you how significant the differences between groups are; In other words it lets you know if those differences (measured in means) could have happened by chance.

**A very simple example**: Let’s say you have a cold and you try a naturopathic remedy. Your cold lasts a couple of days. The next time you have a cold, you buy an over-the-counter pharmaceutical and the cold lasts a week. You survey your friends and they all tell you that their colds were of a shorter duration (an average of 3 days) when they took the homeopathic remedy. What you really want to know is, are these results repeatable? A t test can tell you by comparing the means of the two groups and letting you know the probability of those results happening by chance.

**Another example**: Student’s T-tests can be used in real life to compare averages. For example, a drug company may want to test a new cancer drug to find out if it improves life expectancy. In an experiment, there’s always a control group (a group who are given a placebo, or “sugar pill”). The control group may show an average life expectancy of +5 years, while the group taking the new drug might have a life expectancy of +6 years. It would seem that the drug might work. But it could be due to a fluke. To test this, researchers would use a Student’s t-test to find out if the results are repeatable for an entire population.

There are **three main types of t-test**:

* An Independent Samples t-test compares the means for two groups.
* A Paired sample t-test compares means from the same group at different times (say, one year apart).
* A One sample t-test tests the mean of a single group against a known mean.

## T Score
The t score is a ratio between the difference between two groups and the difference within the groups. 

* A large t-score tells you that the groups are different. (the more difference there is between groups)
* A small t-score tells you that the groups are similar. (the more similarity there is between groups)

## T-Values and P-values

How big is “big enough”? Every t-value has a p-value to go with it. A p-value is the probability that the results from your sample data occurred by chance. P-values are from 0% to 100%. They are usually written as a decimal. For example, a p value of 5% is 0.05. **Low p-values are good**; They indicate your data did not occur by chance. For example, a p-value of .01 means there is only a 1% probability that the results from an experiment happened by chance. In most cases, a p-value of 0.05 (5%) is accepted to mean the data is valid.

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action = 'ignore')

# One sample t-test tests

https://www.statisticshowto.com/probability-and-statistics/hypothesis-testing/one-sample-t-test/

https://www.scribbr.com/statistics/t-test/

# Paired Samples T Test

In [15]:
#importing data
data = pd.read_csv('../data/Scores.csv')
data

    Subject#  Score 1  Score 2
0          1        3       20
1          2        3       13
2          3        3       13
3          4       12       20
4          5       15       29
5          6       16       32
6          7       17       23
7          8       19       20
8          9       23       25
9         10       24       15
10        11       32       30

In [11]:
data.dtypes

Subject#    int64
Score 1     int64
Score 2     int64
dtype: object

In [12]:
data.columns

Index(['Subject#', 'Score 1', 'Score 2'], dtype='object')

In [16]:
# Step 1: Subtract each Y score from each X score.
data["X-Y"] = data["Score 1"] - data["Score 2"]
data

    Subject#  Score 1  Score 2  X-Y
0          1        3       20  -17
1          2        3       13  -10
2          3        3       13  -10
3          4       12       20   -8
4          5       15       29  -14
5          6       16       32  -16
6          7       17       23   -6
7          8       19       20   -1
8          9       23       25   -2
9         10       24       15    9
10        11       32       30    2

In [21]:
# Step 2: Add up all of the values from Step 1.
sum_XY = data["X-Y"].sum()
print(sum_XY)

-73

In [18]:
# Step 3: Square the differences from Step 1.
data["X-Y squared"] = data["X-Y"] ** 2
data

    Subject#  Score 1  Score 2  X-Y  X-Y squared
0          1        3       20  -17          289
1          2        3       13  -10          100
2          3        3       13  -10          100
3          4       12       20   -8           64
4          5       15       29  -14          196
5          6       16       32  -16          256
6          7       17       23   -6           36
7          8       19       20   -1            1
8          9       23       25   -2            4
9         10       24       15    9           81
10        11       32       30    2            4

In [25]:
# Step 4: Add up all of the squared differences from Step 3.
sum_XYSquared = data["X-Y squared"].sum()
print(sum_XYSquared)

1131

Step 5: Use the following formula to calculate the t-score:
![](../images/paired-t-test-example.png)

* ΣD: Sum of the differences (Sum of X-Y from Step 2)
* ΣD2: Sum of the squared differences (from Step 4)
* (ΣD)2: Sum of the differences (from Step 2), squared.

![](../images/paired-t-test-example-7v3.png)

In [27]:
# Step 6: Subtract 1 from the sample size to get the degrees of freedom. We have 11 items, so 11-1 = 10.
degree_fd = len(data) - 1
degree_fd

10

Step 7: Find the p-value in the t-table, using the degrees of freedom in Step 6. If you don’t have a specified alpha level, use 0.05 (5%). For this example problem, with df = 10, the t-value is 2.228.

Step 8: Compare your t-table value from Step 7 (2.228) to your calculated t-value (-2.74). The calculated t-value is greater than the table value at an alpha level of .05. The p-value is less than the alpha level: p <.05. We can reject the null hypothesis that there is no difference between means.

# Independent Samples T Test
Before you perform a t test in SPSS for independent samples, you should:


1. Write a hypothesis statement. For the above research question, the null hypothesis would be that there is no significant difference
2. Determine if your test is one-tailed or two-tailed
3. Specify an alpha level.

https://www.statisticshowto.com/probability-and-statistics/t-distribution/independent-samples-t-test/

https://www.statisticshowto.com/probability-and-statistics/hypothesis-testing/one-tailed-test-or-two/