# Python Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

- 'hello' is the same as "hello".

- You can display a string literal with the print() function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

***Define a string***

---

In [2]:
my_string = "Analytics Vidhya creating next generation data science eco-system"

### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [2]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [3]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [4]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [5]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length
To get the length of a string, use the len() function.

In [6]:
a = "Hello, World!"
print(len(a))

13

## Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [12]:
b = "Hello, World!"
print(b[2:5])

llo

***Access characters with negative indexing***

---

In [1]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [1]:
# reverse a string

my_string[::-1]

NameError: name 'my_string' is not defined

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [10]:
txt = "The best things in life are free!"
print("free" in txt)

if 'free' in txt:
    print(bool(1))
else:
    print(bool(0))
    

if 'free' in txt:
    print("Yes")
else:
    print("No")

True
True
Yes

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [11]:
txt = "The best things in life are free!"
print("expensive" not in txt)

if 'expensive' not in txt:
    print(bool(1))
else:
    print(bool(0))
    

if 'expensive' not in txt:
    print("Yes")
else:
    print("No")

True
True
Yes

### Count of a particular `character` or a `sub-string` in a string.

---

In [ ]:
my_string.count('a')

In [ ]:
my_string.count('A')

### Find a substring in the string using `find` and `index` function.

**`find`**

* If present it will return the starting index.
* If not found, then it will return -1

---

In [3]:
my_string.find('next')

26

In [ ]:
my_string.find('python')

**`index`**

* If present it will return the starting index.
* If not found, then it will give error

In [5]:
my_string.index('next')

26

In [4]:
my_string.index('python')

ValueError: substring not found

### Check whether if the string `startswith` or `endswith` a particular substring or not.

---

In [ ]:
my_string.endswith('python')

In [ ]:
my_string.endswith('system')

In [ ]:
my_string.startswith('python')

In [ ]:
my_string.startswith('analytics')

## Modify Python String

In [2]:
# The upper() and lower() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [7]:
# Capitalize: Update the first character of the string to upper case
my_string.capitalize()

'Analytics vidhya creating next generation data science eco-system'

In [3]:
# The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

***Replace substrings***

---

In [4]:
# The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
"java is easy to learn.".replace('java', 'python')

***Split function***

---

In [5]:
# The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

***Check if the string is in lower case or upper case.***

---

In [ ]:
my_string.islower()

In [ ]:
my_string.isupper()

***Check if the string is digit, alpabetic, alpha-numeric.***

---

In [ ]:
"10".isnumeric()

In [ ]:
"1213as".isnumeric()

In [ ]:
"python".isalpha()

In [ ]:
"1212as".isalpha()

In [ ]:
"1212as".isalnum()

In [8]:
string = "AnalyticsVidhya"
string.isalpha()

True

In [ ]:
string = "Analytics Vidhya"
string.isalpha()

## String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [6]:
a = "Hello"
b = "World"
c = a + b
print(c)
c = a + " " + b
print(c)

HelloWorld
Hello World

## String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [7]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [8]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [9]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Escape Character
- To insert characters that are illegal in a string, use an escape character.
- An escape character is a backslash \ followed by the character you want to insert.

In [10]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-10-56cdf4283a8e>, line 1)

In [11]:
# The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Various Escape Characters
\'	  Single Quote	
\\	  Backslash	
\n	  New Line	
\r	  Carriage Return	
\t	  Tab	
\b	  Backspace	
\f	  Form Feed	
\ooo	Octal value	
\xhh	Hex value