# Dates and Times

In [2]:
from datetime import datetime as dt, date, time
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [3]:
tm.time()

1681618651.3270383

Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

Create a date

In [14]:
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

29
30

Given a date instance, you can extract the equivalent date and time objects by calling methods on the date of the same name

In [6]:
dt.date()

datetime.date(2021, 10, 29)

In [7]:
dt.time()

datetime.time(20, 30, 21)

The **strftime** method formats a datetime as a string

In [8]:
dt.strftime("%Y-%m-%d %H:%M")

'2021-10-29 20:30'

Strings can be converted (parsed) into datetime objects with the **strptime** function

In [9]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

When you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of datetimes - for example, replacing the minute and second fields with zero:

In [11]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2021, 10, 29, 20, 0)

Since *datetime.datetime* is a immutable type, methods like these always produce new objects. So in the previous example, dt is not modified by replaced:

In [12]:
dt

datetime.datetime(2021, 10, 29, 20, 30, 21)

The difference of two datetime objects produces a **datetime.timedelta** type:

In [15]:
dt2 = datetime(2011,11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [16]:
type(delta)

datetime.timedelta

In [17]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)