# Python Lists

## Lists - Mixed Data Types - Mutable
A list is a ordered collections of objects, that may have different types.
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

***Creating a list***

In [11]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
myList = ["apple", "banana", "cherry"]
print(myList)
print(type(myList))

In [13]:
myFirstList = [3, 45, 56, 732]
x = [1, 'a', 2, 'b']           # The elements of a list may have different types
y = list(range(15))            # Using list function
z = [1]*3                      # Using * to repeat a list
my_color = rcolors + colors    # Concatenate 
my_color = rcolors * 2         # Repeat a list

***The `list()` Constructor***

It is also possible to use the `list()` constructor when creating a new list.

In [1]:
myList = list(("apple", "banana", "cherry")) # note the double round-brackets
myList

['apple', 'banana', 'cherry']

***List Length***

To determine how many items a list has, use the `len()` function:

In [17]:
myList = ["apple", "banana", "cherry"]
print(len(myList))

## List Items - Data Types
List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
mixedList = ["abc", 34, True, 40, "male"]
print(list1)
print(list2)
print(list3)
print(mixedList)

***Allow Duplicates***

Since lists are indexed, lists can have items with the same value:

In [ ]:
myList = ["apple", "banana", "cherry", "apple", "cherry"]
print(myList)

## Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList[1])

# Negative listing
print(myList[-1])

***List Slicing***

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
# get all the elements in the list using colon only
my_list[:]

In [ ]:
# same result using the double colon also
my_list[::]

In [ ]:
# after second colon we define the step
my_list[::1]

In [ ]:
# slice list with step 2
my_list[::2]

In [ ]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

In [ ]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

In [ ]:
# list from index 3 to second last index
my_list[2:-2]

In [ ]:
# reverse the list using step value as -1
my_list[::-1]

In [ ]:
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[2:5])

## Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList)

# Changing the value of second index
myList[1] = "blackcurrant"
print(myList)

In [ ]:
# Change of range of items
myList = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
myList[1:3] = ["blackcurrant", "watermelon"]
print(myList)

In [ ]:
# Change the second value by replacing it with two new values:
myList = ["apple", "banana", "cherry"]
myList[1:2] = ["blackcurrant", "watermelon"]
print(myList)

## Change list items 
### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.insert(2, "watermelon")
print(myList)

### Append Items
To add an item to the end of the list, use the `append()` method:

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.append("orange")
print(myList)

In [ ]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

You can see that it has created an nested list when used append method, You can add multiple elements to the list by using extend function.

### Extend List
To append elements from another list to the end of current list, use the `extend()` method.

In [ ]:
myList = ["apple", "banana", "cherry"]
tropicalList = ["mango", "pineapple", "papaya"]
myList.extend(tropicalList)
print(myList)

### Add Any Iterable using `extend()` method
The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
myList = ["apple", "banana", "cherry"]
myTuple = ("kiwi", "orange")
myList.extend(myTuple)
print(myList)

In [ ]:
myList = ["apple", "banana", "cherry"]
myDic = {1:"abc",2:"xyz"}
myList.extend(myDic)
print(myList)

### Combining Lists Using `zip()`
Suppose you were given a task to combine several lists with the same length and print out the result?
* Takes multiple collections and returns a new collection.
* The new collection contains items where each item contains one element from each input collection.
* It allows us to transverse multiple collections at the same time

In [ ]:
countries = ['France', 'Germany', 'Canada']
capitals = ['Paris', 'Berlin', 'Ottawa']
for country, capital in zip(countries,capitals):
    print(country, capital) 
# France Paris 
# Germany Berlin
# Canada Ottawa

In [ ]:
name = 'farhad'
suffix = [1,2,3,4,5,6]
result = zip(name, suffix) # returns (f,1),(a,2),(r,3),(h,4),(a,5),(d,6)
result

In [ ]:
unzipped = zip(*result)
unzipped

### Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [ ]:
firstList = ["apple", "banana", "cherry"]
mylist = firstList.copy()
print(mylist)

In [ ]:
# Make a copy of a list with the list() method:
firstList = ["apple", "banana", "cherry"]
mylist = list(firstList)
print(mylist)

In [ ]:
testList = firstList
print(testList)

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

### Remove Specified Item
The `remove()` method removes the specified item.

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.remove("banana")
print(myList)

### Remove Specified Index
The `pop()` method removes the specified index.

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.pop(1)
print(myList)

In [ ]:
# If you do not specify the index, the pop() method removes the last item.
myList = ["apple", "banana", "cherry"]
myList.pop()
print(myList)

In [ ]:
# Remove the first item:
myList = ["apple", "banana", "cherry"]
del myList[0]
print(myList)

In [ ]:
# Delete the entire list:
myList = ["apple", "banana", "cherry"]
del myList
print(myList)

### Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content.

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.clear()
print(myList)

### Chunks a list into smaller lists of a specified size.

In [ ]:
def chunk(list, size):
    return [list[i:i+size] for i in range(0,len(list), size)]

### Flatten a potentially deep list using recursion.

In [ ]:
def spread(arg):
    ret = []
    for i in arg:
        if isinstance(i, list):
            ret.extend(i)
        else:
            ret.append(i)
    return ret

def deep_flatten(xs):
    flat_list = []
    [flat_list.extend(deep_flatten(x)) for x in xs] if isinstance(xs, list) else flat_list.append(xs)
    return flat_list


deep_flatten([1, [2], [[3], 4], 5]) # [1,2,3,4,5]

In [ ]:
def spread(arg):
    ret = []
    for i in arg:
        if isinstance(i, list):
            ret.extend(i)
        else:
            ret.append(i)
    return ret


spread([1,2,3,[4,5,6],[7],8,9]) # [1,2,3,4,5,6,7,8,9]

### Randomize the order of the elements in a list.

In [ ]:
from random import shuffle

foo = [1, 2, 3, 4]
shuffle(foo) 
print(foo) # [1, 4, 3, 2] , foo = [1, 2, 3, 4]

## Search in the List
### Search for an element in the List

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]
# find out the index of an element in the list if present
my_list.index(4)

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]
# index can also search nested objects
my_list.index([1,2])

### Check if the particular element is present in the list or not.

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [ ]:
my_list = [1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]
90 in my_list

In [ ]:
[1, 2] in my_list

In [ ]:
[117] not in my_list

### Find the most frequent element in a list

In [ ]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
print(max(set(test), key = test.count))

In [ ]:
def most_frequent(list):
    return max(set(list), key = list.count)
  

numbers = [1,2,1,2,3,2,1,4,2]
most_frequent(numbers)

### Finding frequency of each element in a list

In [ ]:
from collections import Counter

my_list = ['a','a','b','b','b','c','d','d','d','d','d']
count = Counter(my_list) # defining a counter object

print(count) # Of all elements
# Counter({'d': 5, 'b': 3, 'a': 2, 'c': 1})

print(count['b']) # of individual element
# 3

print(count.most_common(1)) # most frequent element
# [('d', 5)]

### Check if having duplicates
checks whether a list has duplicate values by using the fact that `set()` contains only unique elements.

In [ ]:
def has_duplicates(lst):
    return len(lst) != len(set(lst))
    
    
x = [1,2,3,4,5,5]
y = [1,2,3,4,5]
has_duplicates(x) # True
has_duplicates(y) # False

### Difference between two lists after applying a given function to each element of both lists.

In [ ]:
def difference_by(a, b, fn):
    b = set(map(fn, b))
    return [item for item in a if fn(item) not in b]


from math import floor
difference_by([2.1, 1.2], [2.3, 3.4], floor) # [1.2]
difference_by([{ 'x': 2 }, { 'x': 1 }], [{ 'x': 1 }], lambda v : v['x']) # [ { x: 2 } ]

## Loop Through a List
### Loop through the list items by using a `for` loop:

In [ ]:
myList = ["apple", "banana", "cherry"]
for x in myList:
    print(x)

In [ ]:
myList = ["apple", "banana", "cherry"]
for i in range(len(myList)):
    print(myList[i])

### Using a `While` Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
myList = ["apple", "banana", "cherry"]
i = 0
while i < len(myList):
    print(myList[i])
    i = i + 1

### Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
myList = ["apple", "banana", "cherry"]
loopList = [x for x in myList]
print(list(loopList))

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
myList = []

for x in fruits:
    if "a" in x:
        myList.append(x)

print(myList)

In [ ]:
# Using list comprehension
# Syntax: myList = [expression for item in iterable if condition == True]
myList = [x for x in fruits if "a" in x]
print(myList)

In [ ]:
myList = [x if x != "banana" else "orange" for x in fruits]
print(myList)

### Iterating over list values while getting the index too

In [ ]:
m = ['a', 'b', 'c', 'd']
for index, value in enumerate(m):
    print('{0}: {1}'.format(index, value))

## Sort a List

### Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [ ]:
myList = ["orange", "mango", "kiwi", "pineapple", "banana"]
myList.sort()
print(myList)

In [ ]:
myList = [100, 50, 65, 82, 23]
myList.sort()
print(myList)

In [ ]:
# To sort descending, use the keyword argument reverse = True:
myList = [100, 50, 65, 82, 23]
myList.sort(reverse = True)
print(myList)

In [ ]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
sorted(sample_list)

### Customize Sort Function
You can also customize your own function by using the keyword argument `key = function`.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
    #print(abs(n - 50))
    return abs(n - 50)

myList = [100, 50, 65, 82, 23]
myList.sort(key = myfunc)
print(myList)

### Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
myList = ["banana", "Orange", "Kiwi", "cherry"]
myList.sort()
print(myList)

### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [ ]:
myList = ["banana", "Orange", "Kiwi", "cherry"]
myList.reverse()
print(myList)

---

# Problem Statement: 📝📝

* ***🎓🎓 Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. 🎓🎓 The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

📍📍

   * 🙇 Who scored the highest marks in the subject B?

In [ ]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

- Let's try to access the first index of the list.

In [ ]:
student_marks[0]

- Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.

In [ ]:
student_marks[1]

- Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks

In [ ]:
student_marks[1][0]

In [ ]:
student_marks[1][1]

- Now, the student marks are in order **`A`**, **`B`**, **`C`**, **`D`** and **`E`**. and we need to access the value at index 1 to get the marks in subject **`B`**

In [ ]:
student_marks[1][1][1]

***That's the marks of `Ankit` in Subject `B`***

---

---
---
***Now, we will solve the problem step by step.***


---

## 📍📍📍Who scored the highest marks in the subject B 🏆 🥇?   

---

***Step1 📍: Select name of student and marks in subject B***

In [ ]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

---
***Step2 📍: Store the filtered name and marks in another list.***

In [ ]:
# list to store the marks
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [ ]:
student_with_marks_in_B

---

***Step3 📍: Sort the list. (We Kept the marks as the first index)***

In [ ]:
sorted(student_with_marks_in_B)

---

***Step4 📍: Get the final index of the sorted list***

In [ ]:
sorted(student_with_marks_in_B)[-1][1]

***So, we got the answer of the first question. Gyan🥇🥇 has scored the highest marks in subject B.***

---
---