# Sets
- Sets are used to store multiple items in a single variable.
- A set is a collection which is both unordered and unindexed.
- Sets are written with curly brackets.
- Sets are unchangeable, meaning that we cannot change the items after the set has been created.

## Creating a Set
### Using `{}` operator

In [73]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

{'cherry', 'apple', 'banana'}

In [78]:
print(type(mySet))

<class 'set'>

### Using the `set()` constructor to make a set:

In [79]:
mySet = set(("apple", "banana", "cherry")) # note the double round-brackets
print(mySet)

{'cherry', 'apple', 'banana'}

### Defining a set from a List  and Tuple

In [ ]:
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_set_from_list = set(my_list)

In [ ]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_tuple = set(my_tuple)

### Use `set` to return the unique values

In [1]:
s = set(('a', 'b', 'c', 'a'))
s

{'a', 'b', 'c'}

## Set properties
### No duplicate values

In [74]:
mySet = {"apple", "banana", "cherry", "apple"}
print(mySet)

{'cherry', 'apple', 'banana'}

### Lenght of Set

In [75]:
print(len(mySet))

3

### Data Types

In [76]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

#### A set can contain different data types:

In [77]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

## Access Items

In [80]:
mySet = {"apple", "banana", "cherry"}

for x in mySet:
    print(x)

cherry
apple
banana

## Modify a Set

### Adding and Removing Items

In [82]:
mySet.add("orange")
print(mySet)

{'cherry', 'apple', 'banana', 'orange'}

### Adding two sets

In [83]:
mySet = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

mySet.update(tropical)

print(mySet)

{'papaya', 'mango', 'apple', 'banana', 'pineapple', 'cherry'}

### Adding list into a set

In [2]:
mySet = {"apple", "banana", "cherry"}
myList = ["kiwi", "orange"]

mySet.update(myList)

print(mySet)

{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

### The `update()` method inserts the items in set2 into set1:
update a set with new values, it will add the values which are not present in the original set.

In [99]:
print(set1)
print(set2)
set1.update(set2)
print(set1)

{'a', 'b', 'c'}
{1, 2, 3}
{1, 'a', 2, 3, 'b', 'c'}

In [104]:
print(list(set1)[0])

1

### Delete an element from the set

* `discard()` - It will not throw an error, if the element you want to remove is not present in the set.
* `remove()` - It will throw an error, if the element you want to remove is not present in the set.

In [3]:
mySet.remove("banana")
print(mySet)

{'kiwi', 'cherry', 'orange', 'apple'}

In [4]:
mySet.remove("banana")
print(mySet)

KeyError: 'banana'

#### If the item to remove does not exist, discard() will NOT raise an error. But remove with throw error

In [5]:
mySet.discard("banana")
print(mySet)

{'kiwi', 'cherry', 'orange', 'apple'}

In [6]:
mySet.discard("orange")
print(mySet)

{'kiwi', 'cherry', 'apple'}

### Removing last item using `pop()`

In [90]:
mySet = {"apple", "banana", "cherry"}
x = mySet.pop()
print(x)
print(mySet)

cherry
{'apple', 'banana'}

### The `clear()` method empties the set:

In [91]:
mySet.clear()
print(mySet)

set()

### `del()` to delete complete set

In [93]:
mySet = {"apple", "banana", "cherry"}
print(mySet)
del mySet
print(mySet)

{'cherry', 'apple', 'banana'}

NameError: name 'mySet' is not defined

## Retrieve items from sets
### Retrieve only duplicate values from two sets

#### `intersection()` provides common item in two sets

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [7]:
# it will not update the results, if not stored in a variable
x

{'apple', 'banana', 'cherry'}

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

### Retrieve All, But NOT the Duplicates

In [106]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [107]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

### Retrieve the difference between two sets

In [4]:
# difference of 2 sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference(y)

{'banana', 'cherry'}

In [5]:
# it will not update the results, if not stored in a variable
x

{'apple', 'banana', 'cherry'}

***Difference Update***

use the `difference_update()` to store the results directly

In [2]:
# use the difference_update to store the results directly
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

### Retrieve a distinct combined set of two sets using `union()` method

In [97]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [98]:
for x in set3:
    print(x)

1
a
2
3
b
c

In [108]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'apple', 'banana', 'microsoft', 'cherry'}

## Checking & Compare Sets

### `isdisjoint()`
Return True if no items in set x is present in set y:

In [112]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [9]:
# define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

### `issubset()`
Check if one set is subset of another set

In [ ]:
# check if one set is subset of another set
sample_set_2.issubset(sample_set_1)

### `issuperset()`
Check if one set is superset of another

In [ ]:
# check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

### Checking if item present

In [81]:
print("banana" in mySet)

True

## Loop through a Set
### Using `for` to iterate the set

In [ ]:
# Iterate the set
for element in sample_set_1:
    print(element)

# FrozenSet

The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable).

- I will Freeze the list, and make it unchangeable:
- Syntax: frozenset(iterable)

In [3]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

#### Try to change the value of a frozenset item.

This will cause an error:

In [8]:
myList = ['apple', 'banana', 'cherry']

x = frozenset(myList)
myList[0] = 'Mango'

print(myList)
print(x)
x[1] = "strawberry"

['Mango', 'banana', 'cherry']
frozenset({'apple', 'banana', 'cherry'})

TypeError: 'frozenset' object does not support item assignment